<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Connector between Website and Website Analytics</h2>
        <div class="oe_span12 text-center">
            <h3 class="oe_mt16">
                Use Website Analytics to track Odoo website visits
            </h3>
        </div>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="connector.png"/>
        </div>
    </div>
    <div class="oe_row">
        <p class="text-center">For more informations see <a href="https://www.odoo.com/apps/modules/11.0/website_analytics" target="blank">website_analytics</a> module</p>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <p class="text-center">Website Analytics Website is under BSD-3 License</p>
    </div>
</section>
