<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Reboot Odoo from Odoo</h2>
        <h3 class="oe_mt32 oe_slogan">
            You must provide a reason to reboot
        </h3>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="reboot_reason.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Log</h2>
        <h3 class="oe_mt32 oe_slogan">
            See when the system was rebooted and by who.
        </h3>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="log_tree.png"/>
        </div>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="log_form.png"/>
        </div>
        <h3 class="oe_mt32 oe_slogan">
            If a reboot fails, while inside Odoo, the exception is saved
        </h3>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="log_form_fail.png"/>
        </div>
        <h3 class="oe_mt32 oe_slogan">
            It's possible to set users to only see logs
        </h3>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="readonly.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <p class="text-center">Reboot is under BSD-3 License</p>
    </div>
</section>
